<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
    <style>
      /*.card {
        margin-left: 270px;
        margin-top: 140px;
        position: absolute;

      }*/

      input {
          /*display: inline-flex;*/
          /*margin: auto;*/
          /*height: 2.3em;*/
          /*width: 70em;*/
          /*border-radius: 5px;*/
          /*position: sticky;*/
          /*box-sizing: border-box;*/

          display: block;
          width: 100%;
          padding: 8px 12px;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.44;
          color: #555555;
          background-color: #fff;
          background-image: none;
          border: 2px solid #ccc;
          border-radius: 3px;
          -webkit-transition: border-color ease-in-out 0.15s;
          -o-transition: border-color ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s;

          }

      form {
        position: relative;
      }

      input:focus {
        outline: none;
        border: 2px solid #218752;
        box-shadow: 0 0 10px #218752;
      }

      /*.butt {
        text-align: right;
        padding-right: 200px;
      }*/

      /*.form-horizontal {
        text-align: left;
      }*/
      /*.card-title {
        font-family: 'Play', sans-serif;
        font-size: 3em;
      }*/

      .bg-success {
        border-radius: 5px;
        margin-right: 1075px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
        font-size: 15px;
        padding-left: 5px;
      }

      .bg-danger {
        /*position: static;*/
        display: inline-flex;
        border-radius: 2px;
      }

      .bg-info {
        /*position: static;*/
        display: inline-flex;
        border-radius: 2px;
      }

   </style>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">


        <!-- CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
        <meta charset="utf-8">
        <title>{% block  title%}{% endblock %}</title>
    </head>
    <body class="sidebar-mini fixed">
        {% block content %}{% endblock %}
    </body>


        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins/pace.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>



</html>
