{% extends "registration/base.html" %}
{% block title %}Apa Login{% endblock %}

{% block content %}
<style>
  /*.btn-container {
    width: 120px;
    display: grid;
    text-align: center;
    margin: auto;*/
  /*}*/
  .btn-primary {
    background-color: #009688;
    border-color: #009688;
    margin-left: 30px;

  }



  .btn-primary:hover {
    background-color: #00635a;
    border-color: #00635a;
  }

  /*#one {
    color: red;
    text-align: center;
    padding-top: 30px;
    border: 2px solid black;
  }*/

  .bg-danger {
    text-align: center;
    margin-top: 30px;
    border-radius: 2px;
  }


</style>
<section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <div class="logo">
      <h1>APA</h1>
    </div>
    <div class="login-box">
      <form class="login-form" method="POST">
        {% csrf_token %}
        {# {{ form.as_p }}#}
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
        <div class="form-group">
          <label class="control-label" for="username">USERNAME</label>
          <input name="username" class="form-control" type="text" placeholder="Username" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label" for="password">PASSWORD</label>
          <input name="password" class="form-control" type="password" placeholder="Password">
        </div>
        {# <div class="form-group">#}
          {# <div class="utility">#}
            {# <div class="animated-checkbox">#}
              {# <label class="semibold-text">#}
                {# <input type="checkbox"><span class="label-text">Stay Signed in</span>#}
              {# </label>#}
            {# </div>#}
            {# <p class="semibold-text mb-0"><a data-toggle="flip">Forgot Password ?</a></p>#}
          {# </div>#}
        {# </div>#}
        <div class="form-group btn-container">
          {# <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>#}
          {# <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-up fa-lg fa-fw"></i>SIGN UP</button>#}
          <button type="submit" formaction="{% url 'login' %}" name="button" class="btn btn-primary">Sign In</button>

          <button type="submit" formaction="{% url 'register' %}"name="button" class="btn btn-primary">Sign Up</button>

          {# {% block undersign %}#}

            <strong><p class="bg-danger">{{ message }}</p></strong>
          {# {% endblock %}#}
        </div>
      </form>
      <form class="forget-form" action="index.html">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
        <div class="form-group">
          <label class="control-label">EMAIL</label>
          <input class="form-control" type="text" placeholder="Email">
        </div>
        <div class="form-group btn-container">
          <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
        </div>
        <div class="form-group mt-20">
          <p class="semibold-text mb-0"><a data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
