<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/temp.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
        <style>
            #stay {
                margin-left: 230px;
                font-size: 25px;

            }

            #pone {
                color: #45484c;
                font-size: 17px
            }

            img {
                width: 40px;
                height: 40px;
                /*margin-top: 55px;*/
                position: relative;
                top: 9px;
                border: 1px solid #cacdd1;
                border-radius: 100px;
                box-shadow: -5px 3px 25px 0px red;

            }

            #headone {
                padding-top: 9px;
                text-align: center;

            }

            .button-section {
                text-align: right;
                padding-right: 20px;
            }

            body {
                background-color: #E5E5E5;
            }

            .form-style-10 {
                box-shadow: -5px 5px 30px 0px #77787a;
            }

            #one, #two, #three {
                box-shadow: -10px 0px 15px -5px #77787a;
            }

        </style>
    </head>
    <body>
        {% if registered%}
            <h1>Thanks for registering!</h1>
            <form action="{% url 'main' %}" method="POST">
                {% csrf_token %}
                <div class="button-section">
                    <button type="submit" name="button">Dashboard</button>

                </div>

            </form>
            {% else %}
            {# <img id="image" src="{% static 'apa2.png' %}" alt="APA">#}
            <div class="form-style-10">
            <h1 id="headone"><img id="image" src="{% static 'apa2.png' %}" alt="APA"> APA Registeration</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="section"><span id="one">1</span>First Name</div>
                <div class="inner-wrap">
                    <label>Your Full Name {{ user_form.username }}</label>
                    {{ user_form.username.errors }}
                </div>

                <div class="section"><span id="two">2</span>Email</div>
                <div class="inner-wrap">
                    <label>Email Address {{ user_form.email }}</label>
                    {{ user_form.email.errors }}
                </div>

                <div class="section"><span id="three">3</span>Passwords</div>
                    <div class="inner-wrap">
                    <label>Password {{ user_form.password }}</label>
                    {{ user_form.password.errors }}
                </div>
                <div class="button-section">
                 <input type="submit" name="Sign Up"/>

            </form>
            </div>

        {% endif %}

    </body>
</html>
