{% extends 'base_app/side_bar.html' %}
{% block inside_block %}


{% if registered %}
<div class="container">
<div class="wrapper">
  <div class="content-wrapper">
    <div class="row">
      <div class="page-title">
      <div>
        <h1><i class="fa fa-edit"></i> Form Samples</h1>
        <p>Sample forms</p>
      </div>
      <div>
        <ul class="breadcrumb">
          <li><i class="fa fa-home fa-lg"></i></li>
          <li>Forms</li>
          <li><a href="#">Sample Forms</a></li>
        </ul>
      </div>
    </div>

      <div class="col-lg-12">
        <div class="card">
          <h3 class="card-title">Register</h3>
          <div class="card-body">
            <form class="form-horizontal" method="POST">
              {% csrf_token %}
              <div class="container">
                <div class="form-group">
                  <label>Name: {{ user_form.username }}</label>
                  <!-- <div class="col-md-8">
                    <input class="form-control" type="text" placeholder="Enter full name">
                  </div> -->
                </div>
                <div class="form-group">
                  <label>Email: {{ user_form.email }}</label>

                  <!-- <div class="col-md-8">
                    <input class="form-control col-md-8" type="email" placeholder="Enter email address">
                  </div> -->
                </div>
                <div class="form-group">
                  <label>Phone Number: {{ user_form.number }}</label>
                  <strong><p class="bg-success">User added</p></strong>
                  <!-- <div class="col-md-8">
                    <textarea class="form-control" rows="4" placeholder="Enter your address"></textarea>
                  </div> -->
                </div>
                <div class="row">
                    <div class="butt">
                        <button class="btn btn-primary icon-btn" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>
                    </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="control-label col-md-3">Gender</label>
                <div class="col-md-9">
                  <div class="radio-inline">
                    <label>
                      <input type="radio" name="gender">Male
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                      <input type="radio" name="gender">Female
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">Identity Proof</label>
                <div class="col-md-8">
                  <input class="form-control" type="file">
                </div>
              </div> -->
              <!-- <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">I accept the terms and conditions
                    </label>
                  </div>
                </div>
              </div> -->
            </form>
          </div>
          <!-- <div class="card-footer"> -->
      </div>
      <div class="clearix"></div>
      <!-- <div class="col-md-12">
        <div class="card">
          <h3 class="card-title">Subscribe</h3>
          <div class="card-body3">
            <form class="form-inline">
              <div class="form-group">
                <label class="control-label">Name</label>
                <input class="form-control" type="text" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" type="text" placeholder="Enter your email">
              </div>
              <div class="form-group">
                <button class="btn btn-primary icon-btn" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>Subscribe</button>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% else %}
    <div class="wrapper">
      <div class="content-wrapper">
       
        <div class="row">
      <!-- <div class="col-md-6">
        <div class="card">
          <h3 class="card-title">Register</h3>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="control-label">Name</label>
                <input class="form-control" type="text" placeholder="Enter full name">
              </div>
              <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" type="email" placeholder="Enter email address">
              </div>
              <div class="form-group">
                <label class="control-label">Address</label>
                <textarea class="form-control" rows="4" placeholder="Enter your address"></textarea>
              </div>
              <div class="form-group">
                <label class="control-label">Gender</label>
                <div class="radio">
                  <label>
                    <input type="radio" name="gender">Male
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="gender">Female
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Identity Proof</label>
                <input class="form-control" type="file">
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">I accept the terms and conditions
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary icon-btn" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-default icon-btn" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
          </div>
        </div>
      </div> -->
      <div class="col-lg-12">
        <div class="card">
          <h3 class="card-title">Register</h3>
          <div class="card-body">
            <form class="form-horizontal" method="POST">
              {% csrf_token %}
              <div class="container">
                <div class="form-group">
                  <label>Name: {{ user_form.username }}</label>
                  <!-- <div class="col-md-8">
                    <input class="form-control" type="text" placeholder="Enter full name">
                  </div> -->
                </div>
                <div class="form-group">
                  <label>Email: {{ user_form.email }}</label>
                  <!-- <div class="col-md-8">
                    <input class="form-control col-md-8" type="email" placeholder="Enter email address">
                  </div> -->
                </div>
                <div class="form-group">
                  <label>Phone Number: {{ user_form.number }} <br> <p class="bg-info">Without Zero at beginning!</p></label>
                  <p></p>
                  <strong><p class="bg-danger">Make Sure Use Correct Username And Password!</p></strong>
                  <!-- <div class="col-md-8">
                    <textarea class="form-control" rows="4" placeholder="Enter your address"></textarea>
                  </div> -->
                </div>
                <div class="row">
                    <div class="butt">
                        <button class="btn btn-primary icon-btn" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>
                    </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="control-label col-md-3">Gender</label>
                <div class="col-md-9">
                  <div class="radio-inline">
                    <label>
                      <input type="radio" name="gender">Male
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                      <input type="radio" name="gender">Female
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">Identity Proof</label>
                <div class="col-md-8">
                  <input class="form-control" type="file">
                </div>
              </div> -->
              <!-- <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">I accept the terms and conditions
                    </label>
                  </div>
                </div>
              </div> -->
            </form>
          </div>
          <!-- <div class="card-footer"> -->
      </div>
      <div class="clearix"></div>
      <!-- <div class="col-md-12">
        <div class="card">
          <h3 class="card-title">Subscribe</h3>
          <div class="card-body3">
            <form class="form-inline">
              <div class="form-group">
                <label class="control-label">Name</label>
                <input class="form-control" type="text" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" type="text" placeholder="Enter your email">
              </div>
              <div class="form-group">
                <button class="btn btn-primary icon-btn" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>Subscribe</button>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}

{% endblock %}
